body{
    margin: 0;
    background-color: #292929 ;
    font-size: 45px;
    color:  #FFFFFF ;
    font-weight: 300;
}

.Menu{
    width: 80%;
    margin: 0 auto;
}

header {
    background: #616161;
}

header::after{
    content: '';
    display: table;
    clear: both;
}


nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
   display: inline-block;
   margin-left: 100px;
   padding-top: 15px;
   padding-bottom: 23px;
   position: relative;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #66fcf1;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
   
    background-color: #66fcf1;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before{
    width: 100%;
}


h3{
    text-align: center;
    color: #66fcf1;
    letter-spacing: 3px;
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 100px;
}

h4{
    text-align: center;
    color: white;
    letter-spacing: 3px;
    font-size: 65px;

}

.Flag{
    width: 2043px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 0 20px black; 
}

.Colombia{
    margin: 0 250px 0 250px; 
}

.text1{
    text-align: justify;
    margin-top: 60px;
    letter-spacing: 1px;
    word-spacing: 1px;
}


.work{
    margin: 300px 250px 0 250px;
}

.Workpic{
    width: 1000px;
    height: 700px;
    object-fit: cover;
    box-shadow: 0 0 20px black;
    float: right;

}

.text2{
    text-align: justify;
    margin-top: 60px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.hobbies{
    margin: 300px 250px 50px 250px;
}

.paintball{
    width: 1000px;
    height: 700px;
    object-fit: cover;
    box-shadow: 0 0 20px black;
    float: left;

}

.text3{
    text-align: justify;
    margin-top: 60px;
    letter-spacing: 1px;
    word-spacing: 1px;

}