body{
    margin: 0;
    background-color: #292929 ;
    font-size: 45px;
    color:  #FFFFFF ;
    font-weight: 300;
    scroll-behavior: smooth;
}

.Menu{
    width: 80%;
    margin: 0 auto;
}

header {
    background: #616161;
}

header::after{
    content: '';
    display: table;
    clear: both;
}



nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
   display: inline-block;
   margin-left: 100px;
   padding-top: 15px;
   padding-bottom: 23px;
   position: relative;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #66fcf1;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
   
    background-color: #66fcf1;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before{
    width: 100%;
}


.mainer{
    margin-bottom: 100px;
}

h1{
    color: #66fcf1;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    font-size: 200px;
    letter-spacing: 8px;
}

.maintext{
    
    text-align: center;
    margin-top: -100px;
    margin-left: 20%;
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 1500px;
   
}

h4{
    color: #66fcf1;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin: 4rem 0 1rem;
    
}

.juandiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.juanp{
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Social{
    color: white;
    transition: color 0.2s;  
    margin-top: 100px;
    padding: 0 20px ;
}

.Social:hover{
    color: #66fcf1;
}


.footerdiv{
    background-color: #616161;
    text-align: center;

}

h6{
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #66fcf1;
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 50px;
}

label{
    display: block;
    margin-bottom: -20px;
    margin-top: 25px;
    font-size: 25px;
}
 
input[type="text"],
input[type="email"] {
    border: 2px solid #292929;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    transition: border-color 0.15s, box-shadow 0.15s ;
    width: 400px;
}

input[type="text"],
input[type="email"]:focus{
    border-color: #292929;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(41, 41, 41, 0.50);
}

.form-group{
    margin-top: 10px;
    margin-bottom: -12px;
}

button{
    background: #66fcf1;
    color: white;
    border: 0;
    padding: 0.8rem 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}


