body{
    background-color: #888888;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

.user-list{
    letter-spacing: 0.2rem;
    margin-top: 5rem;
    font-weight: bold;
    list-style-type:none;
    margin-left: 5rem;
}

.tittle{
    text-align: center;
}